* {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
body {
  background-color: blueviolet;
}
img {
  width: 160px;
  height: 160px;
}
.heading {
  text-align: center;
}
#title {
  font-size: 24px;
}
#txt {
  font-size: 16px;
  font-style: italic;
}
.container {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  display: flex;
  border-radius: 10px;
}
.details {
  flex: 1;
  text-align: center;
  padding: 2px 4px;
  border-right: violet solid 4px;
}
.data {
  margin-top: 10%;
  padding: 2px 4px;
  text-align: left;
}
label {
  margin-bottom: 10px;
}
.data input {
  margin-bottom: 20px;
}
.questions {
  flex: 1;
  padding: 2px 4px;
  text-align: center;
  border-right: violet solid 4px;
}
.precautions {
  flex: 1;
  padding: 5px 10px;
  text-align: center;
}
#data1 {
  margin-top: 5%;
}
form#data1 label {
  float: left;
}
form#data1 input {
  margin-right: 4px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background: none;
  outline: none;
  border-bottom: violet solid 2px;
}

.send {
  margin-top: 5%;
}
button {
  padding: 8px;
}
button:hover {
  border: violet solid 2px;
  border-radius: 4px;
  color: green;

  cursor: pointer;
}
.minsend {
  display: none;
}

@media (max-width: 800px) {
  #title {
    font-size: 22px;
  }
  img {
    width: 120px;
    height: 120px;
  }
  #txt {
    font-size: 16px;
  }
  .container {
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
  }
  .details {
    flex: 1;
    border-bottom: blueviolet solid 4px;
    border-right: none;
  }
  .data {
    margin-top: 5%;
  }
  .mintxt {
    font-size: 18px;
  }
  .minspan {
    font-size: 18px;
  }
  .questions {
    border-right: none;
    border-bottom: blueviolet solid 4px;
  }
  .precautions {
    border-bottom: blueviolet solid 4px;
  }
  .send {
    display: none;
  }
  .minsend {
    display: initial;
  }
}
